:root{
    --bg_principal:black;
    --bg_secundario:linear-gradient(120deg, #ffd900, #ffe760);
    --bg_green:rgb(25, 202, 19);
    --color_text_1:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(img/fundo.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.473);
    display: none;
    align-items: center;
    justify-content: center;
}
#modal .conatiner{
    width: 60%;
    height: auto;
    min-height: 150px;
    background: #d3d3d3;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
}
#modal .div_modal_text{
    text-align: center;
    font-weight: bold;
}
#modal .gif_div{
    width: 40%;
    position: absolute;
    bottom: -20px;
}
#modal .gif_div img{
    width: 100%;
}
header{
    background: var(--bg_secundario);
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#nome{
    font-size: 16px;
    font-weight: bold;
}
.saldo_div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.saldo_div div{
    background: #FFF;
    padding: 5px 10px;
    border-radius: 20px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.saldo_div div span{
    font-weight: bold;
    color: #000;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
}
main h3{
    color: var(--color_text_1);
    text-align: center;
}
.options_div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.options_div .options{
    background: var(--bg_secundario);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.76);
    text-align: center;
    
}
.options_div .options h3{
    color: var(--bg_principal);
}
#inputs_pix{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#inputs_pix div{
    display: none;
    flex-direction: column;
    width: 80%;
    gap: 5px;
    margin-top: 10px;
}
#inputs_pix div input{
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
}
#inputs_pix div button{
    padding: 10px 10px;
    border: none;
    background: var(--bg_green);
    color: #FFF;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 15px;
}
#voltar{
    padding: 5px;
    border-radius: 10px;
    color: #FFF;
    margin-top: 10px;
    margin-right: 60%;
    font-size: 18px;
    display: none;
}
#comprovante{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
    gap: 10px;
    max-width: 400px;
    margin-bottom: 50px;
}
#comprovante .container{
    background: #FFF;
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
}
#comprovante .container h3{
    font-size: 5vw;
    margin-bottom: 10px;

}
#comprovante .container .values{
    display: flex;
    flex-direction: column;
}
#comprovante .container .values h4{
    color: #a38b04;
}
#comprovante .container .values div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#comprovante .container .values div span{
    font-weight: bold;
}
#comprovante .div_img{
    display: flex;
    align-items: center;
    justify-content: center;
}
#comprovante .div_img h3{
    font-size: 4vw;
}
#comprovante .div_img img{
    width: 100px;
} 
#comprovante .copy_text{
    color: #FFF;
    text-align: center;
}
#comprovante .copy_text span{
    color: #ffd900;
}
#comprovante button{
    border: none;
    padding: 10px 20px;
    background: var(--bg_green);
    border-radius: 10px;
    color: #FFF;
    font-weight: bold;
    width: 60%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background: var(--bg_secundario);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    
}